<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scrapy.crawl.mapper.EsrNewsMapper" >
  <resultMap id="BaseResultMap" type="com.scrapy.crawl.entity.EsrNews" >
    <id column="newstitle" property="newstitle" jdbcType="VARCHAR" />
    <result column="newtiems" property="newtiems" jdbcType="VARCHAR" />
    <result column="newslink" property="newslink" jdbcType="VARCHAR" />
    <result column="newszhaiyao" property="newszhaiyao" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    newstitle, newtiems, newslink, newszhaiyao
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.scrapy.crawl.entity.EsrNewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from esr_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from esr_news
    where newstitle = #{newstitle,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from esr_news
    where newstitle = #{newstitle,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.scrapy.crawl.entity.EsrNewsExample" >
    delete from esr_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scrapy.crawl.entity.EsrNews" >
    insert into esr_news (newstitle, newtiems, newslink, 
      newszhaiyao)
    values (#{newstitle,jdbcType=VARCHAR}, #{newtiems,jdbcType=VARCHAR}, #{newslink,jdbcType=VARCHAR}, 
      #{newszhaiyao,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scrapy.crawl.entity.EsrNews" >
    insert into esr_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newstitle != null" >
        newstitle,
      </if>
      <if test="newtiems != null" >
        newtiems,
      </if>
      <if test="newslink != null" >
        newslink,
      </if>
      <if test="newszhaiyao != null" >
        newszhaiyao,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newstitle != null" >
        #{newstitle,jdbcType=VARCHAR},
      </if>
      <if test="newtiems != null" >
        #{newtiems,jdbcType=VARCHAR},
      </if>
      <if test="newslink != null" >
        #{newslink,jdbcType=VARCHAR},
      </if>
      <if test="newszhaiyao != null" >
        #{newszhaiyao,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scrapy.crawl.entity.EsrNewsExample" resultType="java.lang.Integer" >
    select count(*) from esr_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update esr_news
    <set >
      <if test="record.newstitle != null" >
        newstitle = #{record.newstitle,jdbcType=VARCHAR},
      </if>
      <if test="record.newtiems != null" >
        newtiems = #{record.newtiems,jdbcType=VARCHAR},
      </if>
      <if test="record.newslink != null" >
        newslink = #{record.newslink,jdbcType=VARCHAR},
      </if>
      <if test="record.newszhaiyao != null" >
        newszhaiyao = #{record.newszhaiyao,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update esr_news
    set newstitle = #{record.newstitle,jdbcType=VARCHAR},
      newtiems = #{record.newtiems,jdbcType=VARCHAR},
      newslink = #{record.newslink,jdbcType=VARCHAR},
      newszhaiyao = #{record.newszhaiyao,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scrapy.crawl.entity.EsrNews" >
    update esr_news
    <set >
      <if test="newtiems != null" >
        newtiems = #{newtiems,jdbcType=VARCHAR},
      </if>
      <if test="newslink != null" >
        newslink = #{newslink,jdbcType=VARCHAR},
      </if>
      <if test="newszhaiyao != null" >
        newszhaiyao = #{newszhaiyao,jdbcType=VARCHAR},
      </if>
    </set>
    where newstitle = #{newstitle,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scrapy.crawl.entity.EsrNews" >
    update esr_news
    set newtiems = #{newtiems,jdbcType=VARCHAR},
      newslink = #{newslink,jdbcType=VARCHAR},
      newszhaiyao = #{newszhaiyao,jdbcType=VARCHAR}
    where newstitle = #{newstitle,jdbcType=VARCHAR}
  </update>
</mapper>