<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scrapy.crawl.mapper.PuluosiNewsMapper" >
  <resultMap id="BaseResultMap" type="com.scrapy.crawl.entity.PuluosiNews" >
    <id column="newslink" property="newslink" jdbcType="VARCHAR" />
    <result column="newstitle" property="newstitle" jdbcType="VARCHAR" />
    <result column="newtimes" property="newtimes" jdbcType="VARCHAR" />
    <result column="newszhaiyao" property="newszhaiyao" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    newslink, newstitle, newtimes, newszhaiyao
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.scrapy.crawl.entity.PuluosiNewsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from puluosi_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from puluosi_news
    where newslink = #{newslink,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from puluosi_news
    where newslink = #{newslink,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.scrapy.crawl.entity.PuluosiNewsExample" >
    delete from puluosi_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scrapy.crawl.entity.PuluosiNews" >
    insert into puluosi_news (newslink, newstitle, newtimes, 
      newszhaiyao)
    values (#{newslink,jdbcType=VARCHAR}, #{newstitle,jdbcType=VARCHAR}, #{newtimes,jdbcType=VARCHAR}, 
      #{newszhaiyao,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scrapy.crawl.entity.PuluosiNews" >
    insert into puluosi_news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newslink != null" >
        newslink,
      </if>
      <if test="newstitle != null" >
        newstitle,
      </if>
      <if test="newtimes != null" >
        newtimes,
      </if>
      <if test="newszhaiyao != null" >
        newszhaiyao,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newslink != null" >
        #{newslink,jdbcType=VARCHAR},
      </if>
      <if test="newstitle != null" >
        #{newstitle,jdbcType=VARCHAR},
      </if>
      <if test="newtimes != null" >
        #{newtimes,jdbcType=VARCHAR},
      </if>
      <if test="newszhaiyao != null" >
        #{newszhaiyao,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scrapy.crawl.entity.PuluosiNewsExample" resultType="java.lang.Integer" >
    select count(*) from puluosi_news
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update puluosi_news
    <set >
      <if test="record.newslink != null" >
        newslink = #{record.newslink,jdbcType=VARCHAR},
      </if>
      <if test="record.newstitle != null" >
        newstitle = #{record.newstitle,jdbcType=VARCHAR},
      </if>
      <if test="record.newtimes != null" >
        newtimes = #{record.newtimes,jdbcType=VARCHAR},
      </if>
      <if test="record.newszhaiyao != null" >
        newszhaiyao = #{record.newszhaiyao,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update puluosi_news
    set newslink = #{record.newslink,jdbcType=VARCHAR},
      newstitle = #{record.newstitle,jdbcType=VARCHAR},
      newtimes = #{record.newtimes,jdbcType=VARCHAR},
      newszhaiyao = #{record.newszhaiyao,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scrapy.crawl.entity.PuluosiNews" >
    update puluosi_news
    <set >
      <if test="newstitle != null" >
        newstitle = #{newstitle,jdbcType=VARCHAR},
      </if>
      <if test="newtimes != null" >
        newtimes = #{newtimes,jdbcType=VARCHAR},
      </if>
      <if test="newszhaiyao != null" >
        newszhaiyao = #{newszhaiyao,jdbcType=VARCHAR},
      </if>
    </set>
    where newslink = #{newslink,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scrapy.crawl.entity.PuluosiNews" >
    update puluosi_news
    set newstitle = #{newstitle,jdbcType=VARCHAR},
      newtimes = #{newtimes,jdbcType=VARCHAR},
      newszhaiyao = #{newszhaiyao,jdbcType=VARCHAR}
    where newslink = #{newslink,jdbcType=VARCHAR}
  </update>

  <select id="selectByDesc" resultMap="BaseResultMap" >
    select * from puluosi_news where 1=1 order by newtimes DESC
  </select>
</mapper>