<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scrapy.crawl.mapper.WanweiYuanquMapper" >
  <resultMap id="BaseResultMap" type="com.scrapy.crawl.entity.WanweiYuanqu" >
    <id column="name" property="name" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
    <result column="warehouseType" property="warehousetype" jdbcType="VARCHAR" />
    <result column="transportNet_air" property="transportnetAir" jdbcType="VARCHAR" />
    <result column="transportNet_road" property="transportnetRoad" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    name, location, area, feature, warehouseType, transportNet_air, transportNet_road
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.scrapy.crawl.entity.WanweiYuanquExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wanwei_yuanqu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wanwei_yuanqu
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wanwei_yuanqu
    where name = #{name,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.scrapy.crawl.entity.WanweiYuanquExample" >
    delete from wanwei_yuanqu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scrapy.crawl.entity.WanweiYuanqu" >
    insert into wanwei_yuanqu (name, location, area, 
      feature, warehouseType, transportNet_air, 
      transportNet_road)
    values (#{name,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{feature,jdbcType=VARCHAR}, #{warehousetype,jdbcType=VARCHAR}, #{transportnetAir,jdbcType=VARCHAR}, 
      #{transportnetRoad,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scrapy.crawl.entity.WanweiYuanqu" >
    insert into wanwei_yuanqu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="feature != null" >
        feature,
      </if>
      <if test="warehousetype != null" >
        warehouseType,
      </if>
      <if test="transportnetAir != null" >
        transportNet_air,
      </if>
      <if test="transportnetRoad != null" >
        transportNet_road,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="warehousetype != null" >
        #{warehousetype,jdbcType=VARCHAR},
      </if>
      <if test="transportnetAir != null" >
        #{transportnetAir,jdbcType=VARCHAR},
      </if>
      <if test="transportnetRoad != null" >
        #{transportnetRoad,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scrapy.crawl.entity.WanweiYuanquExample" resultType="java.lang.Integer" >
    select count(*) from wanwei_yuanqu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wanwei_yuanqu
    <set >
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null" >
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null" >
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.feature != null" >
        feature = #{record.feature,jdbcType=VARCHAR},
      </if>
      <if test="record.warehousetype != null" >
        warehouseType = #{record.warehousetype,jdbcType=VARCHAR},
      </if>
      <if test="record.transportnetAir != null" >
        transportNet_air = #{record.transportnetAir,jdbcType=VARCHAR},
      </if>
      <if test="record.transportnetRoad != null" >
        transportNet_road = #{record.transportnetRoad,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wanwei_yuanqu
    set name = #{record.name,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      feature = #{record.feature,jdbcType=VARCHAR},
      warehouseType = #{record.warehousetype,jdbcType=VARCHAR},
      transportNet_air = #{record.transportnetAir,jdbcType=VARCHAR},
      transportNet_road = #{record.transportnetRoad,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scrapy.crawl.entity.WanweiYuanqu" >
    update wanwei_yuanqu
    <set >
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="warehousetype != null" >
        warehouseType = #{warehousetype,jdbcType=VARCHAR},
      </if>
      <if test="transportnetAir != null" >
        transportNet_air = #{transportnetAir,jdbcType=VARCHAR},
      </if>
      <if test="transportnetRoad != null" >
        transportNet_road = #{transportnetRoad,jdbcType=VARCHAR},
      </if>
    </set>
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scrapy.crawl.entity.WanweiYuanqu" >
    update wanwei_yuanqu
    set location = #{location,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      warehouseType = #{warehousetype,jdbcType=VARCHAR},
      transportNet_air = #{transportnetAir,jdbcType=VARCHAR},
      transportNet_road = #{transportnetRoad,jdbcType=VARCHAR}
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <select id="areasum" resultType="java.lang.Double">
    select sum(area) from wanwei_yuanqu
  </select>
</mapper>